.signUpForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #636363;
  h2 {
    color: black;
  }
  button {
    cursor: pointer;
  }
  form {
    width: 100%;

    .inlineInputContainer {
      display: flex;
      gap: 10px;
      width: 100%;
      padding: 0;
      margin: 0;
      .inputDiv {
        width: 100%;
      }
    }
    .emailSignUpContainer {
      width: 100%;
    }
    .checkboxContanier {
      margin: 20px 0;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      .agreementCheckbox {
        margin-right: 8px;
        cursor: pointer;
      }
    }
    .continueButton {
      width: 100%;
      margin: 30px 0;
      border-radius: 5px;
      padding: 10px;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .continueButtonWithGoogle {
      border: 1px solid #007bff;
      background-color: white;
      color: #007bff;
      .googleIcon {
        width: 30px;
        margin-right: 10px;
      }
    }
    .continueButtonWithEmail {
      border: 1px solid #007bff;
      background-color: #007bff;
      color: white;
      .arrowIcon {
        margin-left: 10px;
      }
    }
    .disabledContinueButtonWithEmail {
      background-color: grey;
      color: white;
      cursor: default;
    }
    .disabledContinueButtonWithGoogle {
      cursor: default;
      opacity: 0.5;
    }
  }
  .hrContainer {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 25px;
    hr {
      flex-grow: 1;
      border: none;
      height: 1px;
      background-color: #ccc;
      margin: 0 10px;
    }
    span {
      font-size: 16px;
      color: #999;
    }
  }
  .changeButton {
    border: none;
    background-color: white;
    color: #007bff;
    text-decoration: underline;
    font-size: 16px;
  }
}
.agreementLink {
  text-decoration: underline;
  cursor: pointer;
}
