.watchListManager {
  .watchingListContainer {
    display: flex;
    gap: 20px;
    > * {
      flex-grow: 1;
      flex-basis: 0;

      .listContainer {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
      }
      .watchListTitle,
      .watchedListTitle {
        text-align: start;
      }

      .emptyList {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
    }
  }
}
