.countriesContainer {
  .countryContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    background-color: rgb(238, 238, 238);
    border: 1px solid grey;
    .deleteButton {
      width: 80px;
      height: 30px;
      font-weight: bold;
      align-self: flex-end;
      background-color: rgb(255, 44, 44);
      border: none;
    }
  }
  .transferButton {
    width: 150px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 14px;
    background-color: rgba(170, 170, 170, 0.805);
    border: none;
  }
}
