.opposite-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  margin-top: 2%;
  .item {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 35px;
    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
  }
  .paragraph {
    max-width: 48%;
  }
  .imageContainer {
    width: 50%;
    .image {
      width: 100%;
      border-radius: 2px;
    }
    .image:hover {
      opacity: 0.9;
      box-shadow: 0 0 12px rgba(252, 234, 246, 0.926);
    }
  }
}

@media (max-width: 800px) {
  .opposite-display {
    .item {
      width: 100%;
    }
  }
}
@media (max-width: 600px) {
  .opposite-display {
    .item {
      flex-direction: column !important;
      gap: 17px;
    }
    .imageContainer {
      width: 100%;
    }
    .paragraph {
      max-width: 100%;
    }
  }
}
